@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes strikethrough {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.animate-strikethrough {
  animation: strikethrough 0.6s cubic-bezier(0.4, 0, 0.2, 1) 1.5s forwards;
}

.animate-underline {
  animation: underline 0.6s cubic-bezier(0.4, 0, 0.2, 1) 2.1s forwards;
}
