@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes strikethrough {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes underline {
  0% {
    text-decoration: none;
  }
  100% {
    text-decoration: underline;
  }
}

.animate-strikethrough {
  animation: strikethrough 2s ease-in-out forwards;
}

.animate-underline {
  animation: underline 2s ease-in-out forwards;
}
